<div class="container">
  <div class="row mt-3">
    <div class="col">
      <button routerLink="/categories" class="btn btn-lg btn-dark">Back</button>
    </div>
  </div>
  <div *ngIf="noFound === 1 " class="row">
    <div class="col mt-33">
      <h1>Nothing found</h1>
    </div>
  </div>
<div *ngIf="noFound === 0">
  <h2>{{product.title}}</h2>
  <app-each-product-in-view [product]="product"></app-each-product-in-view>
  <div *ngIf="authorizedUser && authorizedUser.superAdmin === false">
    <a (click)="createOrder(product._id)">Order this product</a>
  </div>
  <h3>Comments:</h3>
  {{noCommentsMsg}}
  <app-each-comment
    *ngFor="let comment of comments"
    [authorizedUser]="authorizedUser"
    [comment]="comment"
    (deleteClicked)="deleteComment(comment._id)">
  </app-each-comment>
  <app-add-comments
    *ngIf="authorizedUser"
    [product]="product"
    [authorizedUser]="authorizedUser"
    (create)="createComment()">
  </app-add-comments>
  <div *ngIf="!authorizedUser">
    <h2>Sign up to add comment or create order.</h2>
    <a routerLink="/users">Sign in</a>
  </div>
</div>
</div>
