<div class="container">
  <div class="row">
    <div class="col mt-3">
      <button class="btn btn-lg btn-dark" routerLink="/users">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center" style="margin-top:6em; margin-bottom: 2em;">
      <h2>Create new user</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mb-5">
      <form #form="ngForm" (ngSubmit)="createUser(form)" enctype="multipart/form-data">
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite"
                  id="q1">Login</span>
          </div>
          <input type="text" name="login"
                 ngModel
                 class="form-control" aria-describedby="q1">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q2">Password</span>
          </div>
          <input type="text" name="password"
                 ngModel
                 class="form-control" aria-describedby="q2">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite"
                  id="q3">Name</span>
          </div>
          <input type="text" name="firstName"
                 ngModel
                 class="form-control" aria-describedby="q3">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q4">Surname</span>
          </div>
          <input type="text" name="surname"
                 ngModel
                 class="form-control" aria-describedby="q4">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q5">Phone number</span>
          </div>
          <input type="text" name="phone"
                 ngModel
                 class="form-control" aria-describedby="q5">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite">Photo</span>
          </div>
          <div class="custom-file">
            <input type="file" name="photo"
                   (change)="fileUploadEvent($event)"
                   ngModel class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Add photo</label>
          </div>
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite"
                  id="q6">Email</span>
          </div>
          <input type="text" name="email"
                 ngModel
                 class="form-control" aria-describedby="q6">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite"
                  id="q7">Adress</span>
          </div>
          <input type="text" name="adress"
                 ngModel
                 class="form-control" aria-describedby="q7">
        </div>
        <h3 class="text-center">
          <button class="btn btn-lg btn-danger mt-4">Create</button>
        </h3>
      </form>
      <h2>{{msg}}</h2>
    </div>
  </div>
</div>
