<a routerLink="/categories">Back</a>
<h1>All products</h1>
<ul *ngFor="let product of data">
  <h3 class="productTitle" (click)="viewProduct(product.title)">{{product.title}}</h3>
  <li>Price: {{product.price}}</li>
  <li>About short: {{product.about.short}}</li>
  <li>About: {{product.about.all}}</li>
  <li><h2>Photos</h2>
    <div *ngFor="let link of product.photos">
      <img [src]="'http://localhost:3000/photos/' + link">
    </div>
  </li>
  <li>Colors: {{product.colors}}</li>
  <li>Quantity: {{product.quantity}}</li>
  <li>Category: {{product.category}}</li>
  <li>Producer: {{product.producer}}</li>
  <li>Gender: {{product.gender}}</li>
  <hr>
</ul>
