<div class="container pt-3">
  <div class="row">
    <button routerLink="/products" class="btn mb-2 btn-lg btn-dark">Back</button>
  </div>
  <div class="row">
    <h3 class="text-center">You created new product!</h3>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <h1 class="text-center">{{product.title}}</h1>
      <p class="text-justify">{{product.about.all}}</p>
      <h4 class="text-center">
        <img [src]="'http://localhost:3000/photos/' + product.photos[0]"
          style="width: 27rem; height: auto;">
      </h4>
      <h4>Colors: {{product.colors}}</h4>
      <h4>Price: {{product.price}},-</h4>
      <h4>Quantity: {{product.quantity}}</h4>
      <h4>Date: {{product.date | date: 'medium'}}</h4>
      <h4>Category: {{product.category}}</h4>
      <h4>Producer: {{product.producer}}</h4>
      <hr>
    </div>
  </div>
</div>
