<a routerLink="/categories">Back</a>
<h1>Products</h1>
<p>Get all products</p>
<button (click)="getAllProducts()">Get all products</button>
<br>
<div *ngFor="let product of products">
  <ul *ngIf="products!=[]">
    <li>id: {{product._id}}</li>
    <li>Title: {{product.title}}</li>
    <li>Price: {{product.price}}</li>
    <li>Short about: {{product.about.short}}</li>
    <li>All about: {{product.about.all}}</li>
    <li>Colors: {{product.colors}}</li>
    <li>Photos: {{product.photos}}</li>
    <li>Quantity: {{product.quantity}}</li>
    <li>Date: {{product.date}}</li>
    <li>Gender: {{product.gender}}</li>
    <li>Category: {{product.category}}</li>
    <li>Producer: {{product.producer}}</li>
    <li>Show: {{product.show}}</li>
    <li>Sale: {{product.sale}}</li>
  </ul>
  <hr>
</div>
<p>Get product by id</p>
  <input type="text" name="_id" placeholder="id" #id1>
  <button (click)="getProductById(id1)">Send</button>
<div *ngIf="foundProductById">
  <p>Title: {{foundProductById.title}}</p>
  <p>Id: {{foundProductById._id}}</p>
  <p>Price: {{foundProductById.price}}</p>
  <p>All about: {{foundProductById.about.all}}</p>
  <p>Short about: {{foundProductById.about.short}}</p>
  <p>Colors: {{foundProductById.colors}}</p>
  <p>Photos: {{foundProductById.photos}}</p>
  <p>Quantity: {{foundProductById.quantity}}</p>
  <p>Date: {{foundProductById.date}}</p>
  <p>Gender: {{foundProductById.gender}}</p>
  <p>Category: {{foundProductById.category}}</p>
  <p>Producer: {{foundProductById.producer}}</p>
  <p>Show: {{foundProductById.show}}</p>
  <p>Sale: {{foundProductById.sale}}</p>
  <hr>
</div>
<br>
<h1>Create product</h1>
<form #form3 = "ngForm" (ngSubmit)="createProduct(form3)">
  <label>Title: </label>
  <input type="text" name="title" ngModel>
  <br>
  <label>Price: </label>
  <input type="text" name="price" ngModel>
  <br>
  <label>About All: </label>
  <input type="text" name="about.all" ngModel><br>
  <label>About Short: </label>
  <input type="text" name="about.short" ngModel><br>
  <label>Colors: </label>
  <input type="text" name="colors" ngModel><br>
  <label>Photos: </label>
  <input type="text" name="photos" ngModel><br>
  <label>Quantity: </label>
  <input type="text" name="quantity" ngModel><br>
  <label>Gender: </label>
  <input type="text" name="gender" ngModel><br>
  <label>Category: </label>
  <select name="category" ngModel>
    <option *ngFor="let category of categories">{{category.title}} </option>
  </select>
  <br>
  <label>Producer: </label>
  <select name="producer" ngModel>
    <option *ngFor = "let producer of producers">{{producer.title}}</option>
  </select>
  <br>
  <label>Show: </label>
  <input type="text" name="show" ngModel><br>
  <label>Sale: </label>
  <input type="text" name="sale" ngModel>
  <button type="submit">Send</button>
</form>
<br>
<h1>Update product</h1>
<form #updateForm = "ngForm" (ngSubmit)="updateProduct(updateForm)">
  <label>Id: </label>
  <input type="text" name="_id" ngModel><br>
  <label>Title: </label>
  <input type="text" name="title" ngModel>
  <br>
  <label>Price: </label>
  <input type="text" name="price" ngModel>
  <br>
  <label>About All: </label>
  <input type="text" name="about.all" ngModel><br>
  <label>About Short: </label>
  <input type="text" name="about.short" ngModel><br>
  <label>Colors: </label>
  <input type="text" name="colors" ngModel><br>
  <label>Photos: </label>
  <input type="text" name="photos" ngModel><br>
  <label>Quantity: </label>
  <input type="text" name="quantity" ngModel><br>
  <label>Date: </label>
  <input type="text" name="date" ngModel><br>
  <label>Gender: </label>
  <input type="text" name="gender" ngModel><br>
  <label>Category: </label>
  <select name="category" ngModel>
    <option *ngFor="let category of categories">{{category.title}} </option>
  </select>
  <br>
  <label>Producer: </label>
  <input type="text" name="producer" ngModel><br>
  <label>Show: </label>
  <input type="text" name="show" ngModel><br>
  <label>Sale: </label>
  <input type="text" name="sale" ngModel>
  <button type="submit">Send</button>
</form>
<br>
<p>Delete product</p>
<input type="text" name="_id" #id>
<button (click)="deleteProduct(id)">Delete</button>
<br>
<div *ngIf="deletedProduct">
  <p>Id: <span>{{deletedProduct._id}}</span></p>
  <p>Title: {{deletedProduct.title}}</p>
  <p>Price: {{deletedProduct.price}}</p>
  <p>All about: {{deletedProduct.about.all}}</p>
  <p>Short about: {{deletedProduct.about.short}}</p>
  <p>Colors: {{deletedProduct.colors}}</p>
  <p>Photos: {{deletedProduct.photos}}</p>
  <p>Quantity: {{deletedProduct.quantity}}</p>
  <p>Date: {{deletedProduct.date}}</p>
  <p>Gender: {{deletedProduct.gender}}</p>
  <p>Category: {{deletedProduct.category}}</p>
  <p>Producer: {{deletedProduct.producer}}</p>
  <p>Show: {{deletedProduct.show}}</p>
  <p>Sale: {{deletedProduct.sale}}</p>
</div>
<h2>Delete all products</h2>
<button (click)="deleteAllProducts()">Delete</button>
