<a routerLink="/users/superAllUsers">Back</a>
<h2>You updated user:</h2>
<div>
  <h3>Login: {{updatedUser.login}}</h3>
  <h3>Password: {{updatedUser.password}}</h3>
  <h3>Name: {{updatedUser.firstName}}</h3>
  <h3>Surname: {{updatedUser.surname}}</h3>
  <h3>Phone: {{updatedUser.phone}}</h3>
  <h3 *ngIf="updatedUser.photo!='' && updatedUser.photo!='no photo'">Photo:
    <img [src]="'http://localhost:3000/userPhotos/' + updatedUser.photo">
  </h3>
  <h3>Email: {{updatedUser.email}}</h3>
  <h3>Address: {{updatedUser.adress}}</h3>
</div>
