<div class="container">
  <div class="row">
    <div class="col mt-3 mb-2">
      <button class="btn btn-lg btn-dark" routerLink="/stats/users">Back</button>
    </div>
  </div>
  <div class="row"  *ngIf="categories.length==0&&products.length==0&&producers.length==0">
    <div class="col text-center lead">
      <p style="font-size: 25px;">No statistic yet.</p>
    </div>
  </div>
  <canvas *ngIf="categories.length!==0&&products.length!==0&&producers.length!==0" height="120" baseChart
          [datasets]="[
            {data: barChartData1, label: barLabel
           }]"
          [colors]="[{
              backgroundColor:'#f8fa01',
              hoverBackgroundColor:'#817c00'
          }]"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
  <div class="row" *ngIf="categories.length!==0&&products.length!==0&&producers.length!==0">
    <div class="col mt-3">
      <h1 class="link" (click)="getFurther()">Further information</h1>
  </div>
  </div>
 </div>

