<div class="container">
  <div class="row">
    <div class="col mt-3 mb-2">
      <button class="btn btn-lg btn-dark" routerLink="/stats/users">Back</button>
    </div>
  </div>
  <canvas *ngIf="barChartData!==[]" height="60"  baseChart
          [datasets]="[
            {data: barChartData1, label: barLabel
           }]"
          [colors]="[{
              backgroundColor:'#f8fa01',
              hoverBackgroundColor:'#817c00'
          }]"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
  <div class="row">
    <div class="col">
      <h1 (click)="getFurther()">Further information</h1>
    </div>
  </div>
 </div>

