<div class="container pt-2">
  <div class="row">
    <div class="col">
      <button class="btn btn-lg btn-dark" routerLink="/users">Back</button>
    </div>
  </div>
  <div class="row" *ngIf="user">
    <div class="col">
  <ul class="list-group mx-auto" style="width: 40%; font-size: 20px;">
    <li class="list-group-item">
      Login: {{user.login}}
    </li>
    <li class="list-group-item">
      Password: {{user.password}}
    </li>
    <li class="list-group-item" *ngIf="user.firstName!==''">
      Name: {{user.firstName}}
    </li>
    <li class="list-group-item" *ngIf="user.firstName==''">
      Name: doesn't exist
    </li>
    <li class="list-group-item" *ngIf="user.surname!==''">
      Surname: {{user.surname}}
    </li>
    <li class="list-group-item" *ngIf="user.surname==''">
      Surname: doesn't exist
    </li>
    <li class="list-group-item" *ngIf="user.phone!==''">
      Phone number: {{user.phone}}
    </li>
    <li class="list-group-item" *ngIf="user.phone==''">
      Phone number: doesn't exist
    </li>
    <li class="list-group-item" *ngIf="user.photo!=='no photo'&&user.photo!==''">
      Photo: <img style="width: 85%; height: auto;" [src]="'http://localhost:3000/userPhotos/' + user.photo">
    </li>
    <li class="list-group-item" *ngIf="user.photo === 'no photo' || user.photo === ''">
      Photo: doesn't exist
    </li>
    <li class="list-group-item" *ngIf="user.email!==''">
      Email: {{user.email}}
    </li>
    <li class="list-group-item" *ngIf="user.email === ''">
      Email: doesn't exist
    </li>
    <li class="list-group-item" *ngIf="user.adress!==''">
      Adress: {{user.adress}}
    </li>
    <li class="list-group-item" *ngIf="user.adress === ''">
      Adress: doesn't exist
    </li>
  </ul>
</div>
  </div>
  <h1 class="mt-2">{{msgFindByName}}</h1>
</div>

