<h1 class="mb-4">Categories:</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-action list-group-item-light" routerLink="viewAll"
       (click)="viewAllProductsByCategory(category._id)"
       *ngFor="let category of categories">{{category.title}}
    <button class="btn btn-lg btn-outline-dark float-right mt-2"
            *ngIf="authorizedUser&&authorizedUser.admin === true"
            (click)="deleteCategory(category._id)">Delete</button>
  </li>
</ul>
