<a routerLink="/producers">Back</a>
<form #producerForm="ngForm" (ngSubmit)="createProducer(producerForm)" enctype="multipart/form-data">
  Title: <input type="text" name="title" ngModel><br>
  Short about: <input type="text" name="about.short" ngModel><br>
  All about: <input type="text" name="about.all" ngModel><br>
  Photo:<input type="file" name="photo" (change)="fileChangeEvent($event)" ngModel><br>
  Country: <input type="text" name="country" ngModel><br>
  <button type="submit">Create</button>
</form>
