<div class="container">
  <div class="row">
    <div class="col mt-3 mb-2">
      <button class="btn btn-lg btn-dark" routerLink="/stats">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2 mb-1">
      <p>From:
      <input type="date" (input)="cl(input1)" #input1>
        To:
        <input type="date" (input)="cl2(input)" #input>
      </p>
      <button class="btn btn-danger" (click)="getStats()">Get stats </button>
    </div>
  </div>
</div>
<div class="container">
  <canvas *ngIf="barChartData!==[]&&fromDate&&toDate" height="100" baseChart
          [datasets]="[
            {data: barChartData, label: barLabel
           }]"
          [colors]="[{
              backgroundColor:'#fa0500',
              hoverBackgroundColor:'#ba0009'
          }]"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
</div>
