<div class="container pb-5">
  <div class="row mt-5">
    <button routerLink="/producers" class="btn btn-lg btn-dark">Back</button>
  </div>
  <div class="row">
    <div *ngFor="let product of products" class="card ml-5 mt-3 d-inline-flex" style="width: 18rem;">
      <img class="productTitle card-img-top" (click)="viewProduct(product._id)" style="width: 18rem; height: 12rem;"
           [src]="'http://localhost:3000/photos/' + product.photos[0]" alt="No photo">
      <div class="card-body">
        <h3 (click)="viewProduct(product._id)" class="productTitle card-title">{{product.title}}</h3>
        <p class="card-text">{{product.about.short}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span id="sp">{{product.colors}}</span></li>
        <li class="list-group-item">{{product.price}},-</li>
      </ul>
    </div>
  </div>
  <h2>{{msg}}</h2>
</div>
