<div class="container">
  <div class="row">
    <div class="col mt-5">
      <app-signin *ngIf="!authorizedUser"></app-signin>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-right" *ngIf="authorizedUser">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <app-search-user *ngIf="authorizedUser&&authorizedUser.admin === true"></app-search-user>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <app-get-all-users [authorizedUser]="authorizedUser"
                         *ngIf="authorizedUser&&authorizedUser.admin === true"></app-get-all-users>
    </div>
  </div>
  <div class="row" style="margin-left: 5em; margin-right: 5em;" *ngIf="authorizedUser&&authorizedUser.admin === true">
    <div class="col text-center">
      <button class="btn btn-lg btn-outline-dark float-left" (click)="createUser()">Create user</button>
      <button class="btn btn-lg btn-outline-danger float-right" (click)="createAdmin()">Create admin</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-user-info [authorizedUser]="authorizedUser"
                     *ngIf="authorizedUser&&authorizedUser.admin === false"></app-user-info>
    </div>
  </div>
  <div class="row">
    <div class="col mb-2">
      <div *ngIf="authorizedUser&&authorizedUser.superAdmin === false">
        <button class="btn btn-lg btn-danger float-right" (click)="deleteProfile()">Delete profile</button>
      </div>
    </div>
  </div>
</div>
