<app-signin></app-signin>
<app-get-all-users [authorizedUser]="authorizedUser" *ngIf="authorizedUser&&authorizedUser.admin === true"></app-get-all-users>
<div *ngIf="authorizedUser&&authorizedUser.admin === true">
  <p>Get User by Login</p>
  <input type="text" #getUser>
  <button (click)="getUserByLogin(getUser)">Get user</button>
  <div *ngIf="foundUserByLogin">
    <h4>Login: {{foundUserByLogin.login}}</h4>
    <h4>Password: {{foundUserByLogin.password}}</h4>
    <h4 *ngIf="foundUserByLogin.firstName!= ''">Name: {{foundUserByLogin.firstName}}</h4>
    <h4 *ngIf="foundUserByLogin.firstName === ''">Name: doesn't exist</h4>
    <h4 *ngIf="foundUserByLogin.firstName!= ''">Surname: {{foundUserByLogin.surname}}</h4>
    <h4 *ngIf="foundUserByLogin.firstName=== ''">Surname: doesn't exist</h4>
    <h4 *ngIf="foundUserByLogin.phone!= ''">Phone number: {{foundUserByLogin.phone}}</h4>
    <h4 *ngIf="foundUserByLogin.phone=== ''">Phone number: doesn`t exist</h4>
    <h4 *ngIf="foundUserByLogin.photo!='no photo'">Photo:
      <img [src]="'http://localhost:3000/userPhotos/' + foundUserByLogin.photo"></h4>
    <h4 *ngIf="foundUserByLogin.photo === 'no photo' || !foundUserByLogin.photo">Photo: doesn`t exist</h4>
    <h4 *ngIf="foundUserByLogin.email!=''">Email: {{foundUserByLogin.email}}</h4>
    <h4 *ngIf="foundUserByLogin.email === ''">Email: doesn`t exist</h4>
    <h4 *ngIf="foundUserByLogin.adress != ''">Adress: {{foundUserByLogin.adress}}</h4>
    <h4 *ngIf="foundUserByLogin.adress === ''">Adress: doesn`t exist</h4>
    <h4>Admin: {{foundUserByLogin.admin}}</h4>
  </div>
  <h2>{{msgFindByName}}</h2>
</div>
<div *ngIf="authorizedUser&&authorizedUser.admin === true">
  <div>
    <h1>Create user</h1>
    <form #form1="ngForm" (ngSubmit)="createUser(form1)" enctype="multipart/form-data">
      <label> Login:</label>
      <input type="text" name="login" ngModel>
      <br>
      <label>Password: </label>
      <input type="password" name="password" ngModel>
      <br>
      <label>Name: </label>
      <input type="text" name="firstName" ngModel>
      <br>
      <label>Surname: </label>
      <input type="text" name="surname" ngModel>
      <br>
      <label>Phone Number: </label>
      <input type="text" name="phone" ngModel>
      <br>
      <label>Photo:</label>
      <input type="file" name="photos" (change)="fileUploadEvent($event)" ngModel>
      <br>
      <label>Email: </label>
      <input type="text" name="email" ngModel>
      <br>
      <label>Adress: </label>
      <input type="text" name="adress" ngModel>
      <br>
      <br>
      <button>Send</button>
    </form>
  </div>
  <h2>{{msg}}</h2>
</div>
<div *ngIf="authorizedUser&&authorizedUser.admin === true">
  <h2>Create admin</h2>
  <form #adminForm="ngForm" (ngSubmit)="createAdmin(adminForm)" enctype="multipart/form-data">
    <label> Login:</label>
    <input type="text" name="login" ngModel>
    <br>
    <label>Password: </label>
    <input type="password" name="password" ngModel>
    <br>
    <label>Name: </label>
    <input type="text" name="firstName" ngModel>
    <br>
    <label>Surname: </label>
    <input type="text" name="surname" ngModel>
    <br>
    <label>Phone Number: </label>
    <input type="text" name="phone" ngModel>
    <br>
    <label>Photo:</label>
    <input type="file" name="photos" (change)="fileUploadEventAdmin($event)" ngModel>
    <br>
    <label>Email: </label>
    <input type="text" name="email" ngModel>
    <br>
    <label>Adress: </label>
    <input type="text" name="adress" ngModel>
    <br>
    <button>Send</button>
  </form>
  <h2>{{msg2}}</h2>
</div>
<div *ngIf="authorizedUser&&authorizedUser.admin === false">
  <h4>Login: {{authorizedUser.login}}</h4>
  <h4>Password: {{authorizedUser.password}}</h4>
  <h4 *ngIf="authorizedUser.firstName!==''">
    Name: {{authorizedUser.firstName}}
  </h4>
  <h4 *ngIf="authorizedUser.name==''">
    Name: doesn't exist
  </h4>
  <h4 *ngIf="authorizedUser.surname!==''">
    Surname: {{authorizedUser.surname}}
  </h4>
  <h4 *ngIf="authorizedUser.surname==''">
    Surname: doesn't exist
  </h4>
  <h4 *ngIf="authorizedUser.phone!==''">
    Phone number: {{authorizedUser.phone}}
  </h4>
  <h4 *ngIf="authorizedUser.phone==''">
    Phone number: doesn't exist
  </h4>
  <h4 *ngIf="authorizedUser.photo!=='no photo'">
    <img [src]="'http://localhost:3000/userPhotos/' + authorizedUser.photo">
  </h4>
  <h4 *ngIf="authorizedUser.photo === 'no photo'">
    Photo: doesn't exist
  </h4>
  <h4 *ngIf="authorizedUser.adress!==''">
    Adress: {{authorizedUser.adress}}
  </h4>
  <h4 *ngIf="authorizedUser.adress === ''">
    Adress: doesn't exist
  </h4>
</div>
<div *ngIf="authorizedUser&&authorizedUser.superAdmin === false">
  <button (click)="deleteProfile()">Delete profile</button>
</div>
