 <div class="container">
  <div class="row">
    <div class="col mt-4">
      <button routerLink="/allOrders" class="btn btn-lg btn-dark">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center">You updated order</h1>
      <ul class="list-group list-group-flush w-50 mx-auto">
        <li class="list-group-item">Name: {{order.name}}</li>
        <li class="list-group-item">Surname: {{order.surname}}</li>
        <li class="list-group-item">Product: {{order.product}}</li>
        <li class="list-group-item">Date of creation: {{order.date | date: 'medium'}}</li>
        <li class="list-group-item">Phone number: {{order.phoneNumber}}</li>
        <li class="list-group-item">Address of delivery: {{order.addressDelivery}}</li>
        <li class="list-group-item">Details: {{order.details}}</li>
        <li class="list-group-item">Price: {{order.totalPrice}}</li>
        <li class="list-group-item">Payment type: {{order.paymentType}}</li>
      </ul>
    </div>
  </div>
</div>
