<div class="container">
  <div class="row mt-5">
      <button routerLink="/categories" class="btn btn-lg btn-dark">Back</button>
  </div>
  <div class="row mt-3">
    <div class=" col float-center">
    <form #createForm="ngForm" (ngSubmit)="createCategory(createForm)">
      <div class="input-group mx-auto w-50 mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <input type="text" name="title" ngModel class="form-control ml-1" aria-label="Username" aria-describedby="basic-addon1">
        <button class="btn btn-outline-dark ml-1">Create category</button>
      </div>
    </form>
    </div>
  </div>
</div>


