<div class="container">
  <div class="row">
    <div class="col mt-3">
      <button class="btn btn-lg btn-dark" routerLink="/about">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mb-5">
      <form #aboutForm="ngForm" (ngSubmit)="create(aboutForm)" enctype="multipart/form-data">
        <div class="input-group mb-2 mx-auto" style="width: 25rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="color: #d2d2d2; background: #005602;">Text</span>
          </div>
          <textarea class="form-control"
                    rows="5" cols="60"
                    name="text" ngModel
                    aria-label="With textarea"></textarea>
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 25rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="color: #d2d2d2; background: #005602;">Photo</span>
          </div>
          <div class="custom-file">
            <input type="file" name="logo"
                   (change)="fileChangeEvent($event)"
                   ngModel class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Add photo</label>
          </div>
        </div>
        <h1 class="text-center">
          <button class="btn btn-lg btn-dark">Create</button>
        </h1>
      </form>
    </div>
  </div>
</div>
