<div>
  <form #signin="ngForm" (ngSubmit)="signIn(signin)">
    <div class="input-group mb-3 mx-auto" style="width: 20rem;">
      <div class="input-group-prepend" >
        <span class="input-group-text" style="background: #a80000; color: ghostwhite" id="basic-addon1">Login</span>
      </div>
      <input type="text" #login name="login"
             (input)="getValueSignInLogin(login)" ngModel
             class="form-control" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3 mx-auto" style="width: 20rem;">
      <div class="input-group-prepend">
        <span class="input-group-text" style="background: #a80000; color: ghostwhite"  id="basic-addon2">Password</span>
      </div>
      <input type="password" #password name="password"
             (input)="getValueSignInPassword(password)"
             ngModel class="form-control"  aria-describedby="basic-addon2">
    </div>
<h3 class="text-center">
  <button class="btn btn-dark mr-4"
    [disabled]="loginValue === ''||passwordValue === '' || authorizedUser">
    Sign in
  </button>
  <input class="btn btn-dark"  type="button" (click)="Register()" value="Register">
</h3>
</form>
<h4 class="text-center" style="color: red;">{{msg1}}</h4>
</div>
<hr>
<div class="mt-4" *ngIf="registerClicked === 1">
    <form #form1="ngForm" (ngSubmit)="createUser(form1)" enctype="multipart/form-data">
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
      <div class="input-group-prepend" >
        <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q1">Login</span>
      </div>
      <input type="text" name="login"
             ngModel
             class="form-control" aria-describedby="q1">
    </div>
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
        <div class="input-group-prepend" >
          <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q2">Password</span>
        </div>
        <input type="text" name="password"
             ngModel
               class="form-control" aria-describedby="q2">
      </div>
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
        <div class="input-group-prepend" >
          <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q3">Name</span>
        </div>
        <input type="text"  name="firstName"
               ngModel
               class="form-control" aria-describedby="q3">
      </div>
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
        <div class="input-group-prepend" >
          <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q4">Surname</span>
        </div>
        <input type="text"  name="surname"
               ngModel
               class="form-control" aria-describedby="q4">
      </div>
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
        <div class="input-group-prepend" >
          <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q5">Phone number</span>
        </div>
        <input type="text"  name="phone"
               ngModel
               class="form-control" aria-describedby="q5">
      </div>
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
        <div class="input-group-prepend">
          <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" >Photo</span>
        </div>
        <div class="custom-file">
          <input type="file" name="photo"
                 (change)="fileUploadEvent($event)"
                 ngModel class="custom-file-input" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Add photo</label>
        </div>
      </div>
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
        <div class="input-group-prepend" >
          <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q6">Email</span>
        </div>
        <input type="text"  name="email"
               ngModel
               class="form-control" aria-describedby="q6">
      </div>
      <div class="input-group mb-2 mx-auto" style="width: 20rem;">
        <div class="input-group-prepend" >
          <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q7">Adress</span>
        </div>
        <input type="text"  name="adress"
               ngModel
               class="form-control" aria-describedby="q7">
      </div>
      <h3 class="text-center">
        <button class="btn btn-dark mt-4">Register</button>
      </h3>
  </form>
  <h4 class="text-center" style="color: red;">{{msg}}</h4>
</div>
