<div class="container">
  <div class="row">
    <div class="col mt-3">
      <button class="btn btn-lg btn-dark" routerLink="/users">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center" style="margin-top:6em; margin-bottom: 2em;">
      <h2>Update user</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mb-5">
      <form #form="ngForm" (ngSubmit)="updateUser(form)" enctype="multipart/form-data">
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q2">Password</span>
          </div>
          <input type="password" #password name="password" (input)="getValue(password)"
                 ngModel
                 class="form-control" aria-describedby="q2">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite"
                  id="q3">Name</span>
          </div>
          <input type="text" name="firstName"
                 ngModel
                 class="form-control" aria-describedby="q3">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q4">Surname</span>
          </div>
          <input type="text" name="surname"
                 ngModel
                 class="form-control" aria-describedby="q4">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite" id="q5">Phone number</span>
          </div>
          <input type="text" name="phone"
                 ngModel
                 class="form-control" aria-describedby="q5">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite">Photo</span>
          </div>
          <div class="custom-file">
            <input type="file" name="photo"
                   (change)="fileUpdateEvent($event)"
                   ngModel class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Add photo</label>
          </div>
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite"
                  id="q6">Email</span>
          </div>
          <input type="text" name="email"
                 ngModel
                 class="form-control" aria-describedby="q6">
        </div>
        <div class="input-group mb-2 mx-auto" style="width: 20rem;">
          <div class="input-group-prepend">
            <span class="input-group-text" style="font-size: 15px;background: #0002b8; color: ghostwhite"
                  id="q7">Adress</span>
          </div>
          <input type="text" name="adress"
                 ngModel
                 class="form-control" aria-describedby="q7">
        </div>
        <h3 class="text-center">
          <button [disabled]="passwordValue === ''" class="btn btn-lg btn-danger mt-4">
            Update</button>
        </h3>
      </form>
    </div>
  </div>
</div>

<!--<a routerLink="/users/superAllUsers">Back</a>-->
<!--<form #form2="ngForm" (ngSubmit)="updateUser(form2)" enctype="multipart/form-data">-->
  <!--<label>Password: </label>-->
  <!--<input type="password" #password name="password" (input)="getValue(password)" ngModel>-->
  <!--<br>-->
  <!--<label>Name: </label>-->
  <!--<input type="text" name="firstName" ngModel>-->
  <!--<br>-->
  <!--<label>Surname: </label>-->
  <!--<input type="text" name="surname" ngModel>-->
  <!--<br>-->
  <!--<label>Phone Number: </label>-->
  <!--<input type="text" name="phone" ngModel>-->
  <!--<br>-->
  <!--<label>Photo:</label>-->
  <!--<input type="file" name="photo" (change)="fileUpdateEvent($event)" ngModel>-->
  <!--<br>-->
  <!--<label>Email: </label>-->
  <!--<input type="text" name="email" ngModel>-->
  <!--<br>-->
  <!--<label>Adress: </label>-->
  <!--<input type="text" name="adress" ngModel>-->
  <!--<br>-->
  <!--<button [disabled]="passwordValue === ''" type="submit">Send</button>-->
<!--</form>-->
